<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.managesys.mapper.AdminUserMapper">
    <resultMap id="adminmapper" type="com.blue.managesys.entity.AdminUserEntity">
        <id column="ADMIN_ID" property="adminId"/>
        <result column="ADMIN_NAME" property="adminName"/>
        <result column="ADMIN_NO" property="adminNo"/>
        <result column="create_time" property="createTime"/>
        <result column="login_pass" property="loginPass"/>
        <result column="depart_no" property="departNo"/>
        <result column="status" property="status"/>
    </resultMap>
    <sql id="insertAdmin">
        ADMIN_ID,ADMIN_NAME,ADMIN_NO,create_time,login_pass,depart_no,status
    </sql>
    <insert id="insertAdminUser" parameterType="com.blue.managesys.entity.AdminUserEntity">
        insert into admin_user values(#{adminId},#{adminName},#{adminNo},#{createTime},#{loginPass},#{departNo},#{status})
    </insert>
</mapper>